html{
    font-size: 9px;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProBold.eot');
    src: local('./fonts/Sofia Pro Bold'), local('SofiaProBold'),
        url('./fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SofiaProBold.woff') format('woff'),
        url('./fonts/SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} 

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProRegular.eot');
    src: local('./fonts/Sofia Pro Regular'), local('SofiaProRegular'),
        url('./fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SofiaProRegular.woff') format('woff'),
        url('./fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProLight.eot');
    src: local('./fonts/Sofia Pro Light'), local('SofiaProLight'),
        url('./fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SofiaProLight.woff') format('woff'),
        url('./fonts/SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.container{
    width: 100vw;
    min-height: 100vh;
    background-image: url("./images/background-spiral.png"), linear-gradient(to right bottom, #160855, #080e4c, #011042, #010f37, #040e2b, #080f28, #0c1026, #0f1123, #151429, #1d162e, #261732, #2f1835);
    background-size: 50vh, 100%;
    background-repeat: no-repeat;
    background-position:  bottom left, 0;
    display: flex;
    color: white;
    font-family: 'Sofia Pro', 'Popins', serif;
    font-weight: 500;
}

.description{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 2rem;
    padding: 3rem 2rem 3rem 8rem;
}

.logo{
    width: 9rem;
    padding: 0 1rem;
}

.title{
    font-size: 7vh;
    font-weight: bold;
    line-height: 8vh;
    margin-top: 3vh;
}

.details{
    font-size: 3vh;
    line-height: 4vh;
    word-wrap: break-word;
    width: 90%;
    margin-top: 3.5vh;
    font-weight: 300;
    
}

.btn{
    text-decoration: none;
    padding: 2rem;
    background-color: #FE0666;
    color: white;
    width: fit-content;
    border-radius: 2rem;
    font-size: 3vh;
    margin-top: 9vh;
    transition: all .2s;
    box-shadow: 0px 0px 7px 2px #fe0666;
    display: flex;

}

.btn:hover{
    box-shadow: 0 0 35px #FE0666;
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(-1px);
}

.availability{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
}

.room-item{
    width: 30%;
    white-space: nowrap;
}

.rooms{
    color: #FE0666;
    font-size: 5rem;
    text-shadow: 0px 6px 23px #fe0065 !important;
    font-weight: bold;

}

.sub{
    font-size: 3vh;
    font-weight: 300;
}

.illustration{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 8rem 3rem 2rem;
}

.logo-responsive{
    width: 0;
    visibility: hidden;
}
.logo2{
    width: 20rem;
}


@media only screen and (max-width: 600px) {
    html{
        font-size: 7px;
    }

    .container{
        height: fit-content;
    }

    .title{
        font-size: 5rem;
        line-height: normal;
        margin-top: -2rem;
    }

    .illustration{
        visibility: hidden;
        position: absolute;
    }
    .description{
        flex-basis: 100%;
        padding: 2rem 3rem;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .details{
        width: 100%;
        font-size: 2.5rem;
        margin-top: -1.5rem;
    }

    .logo{
        width: 8rem;
        align-self: flex-start;
        
    }

    .logo-responsive{
        visibility: hidden;
        width: 0;
    }
    .room-item{
        white-space: normal;
    }

    .sub{
        font-size: 2rem;
        line-height: normal;
    }

    .availability{
        margin-top: 3rem;
    }

    .btn{
        margin-top: 3rem;
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

    html{
        font-size: 9px;
    }
    .container{
        flex-wrap: wrap-reverse;
    }
    
    .description{
        flex-basis: 100%;
        align-items: center;
        padding: 0rem 5rem 3rem 5rem;
        text-align: center;

    }

    .illustration{
        flex-basis: 100%;
        padding: 3rem 5rem 0 5rem;
    }

    .logo{
        visibility: hidden;
        width: 0;
    }

    .logo-responsive{
        visibility: visible;
        width: 12%;
        align-self: flex-start;

    }
    .gif{
        width: 45%;
        margin-top: -4rem;
    }

    .logo2{
        width: 15%;
        margin-top: -4rem;
    }
    
    .btn{
        align-self: center;
        margin-top: 6rem;
        font-size: 3rem;
    }

    .title{
        font-size: 6rem;
        line-height: normal;
    }

    .details{
        line-height: normal;
        font-size: 3rem;
        margin-top: 2.5rem;
    }

    .availability{
        margin-top: 6rem;
    }
    .room-item{
        white-space: normal;
    }

    .sub{
        font-size: 3rem;
    }

}


@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .gif{
        width: 110%;
    }

    .illustration{
        padding: 5rem 5rem;
        justify-content: center;
    }
    
    .room-item{
        white-space: normal;
    }
}
@media only screen and (min-width: 1650px) {
    html{
        font-size: 11px;
    }
}